.transactionTable {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 18px;
  text-align: center;
}

.transactionTable th,
.transactionTable td {
  border: 1px solid #000000;
  padding: 12px;
}

.transactionTable th {
  background-color: #333; /* Темно-сірий фон */
  color: #fff; /* Білий текст */
  padding: 12px; /* Простір навколо тексту */
}

.transactionRow:nth-child(even) {
  background-color: darkgray;
  color: #000000;
}

.transactionRow:nth-child(odd) {
  background-color: white;
  color: #000000;
}
